<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 	<bean id="udao" class="com.user.UserDao"></bean>
 	<bean id="uservice" class="com.user.UserService">
 		<property name="dao" ref="udao"></property> <!-- dao에 주입할꺼야 udao에(무엇을) -->
 	</bean> <!-- class 안에서는 전혀 다른,, 상당히 독립적인 클래스 생성. 유연하게 교체가능 -->
 	
 	<bean id="idao" class="com.item.ItemDao"></bean>
 	<bean id="iservice" class="com.item.ItemService">
 		<property name="dao" ref="idao"></property> 
 	</bean>
 	
 	<bean id="pdao" class="com.product.ProductDao"></bean>
 	<bean id="pservice" class="com.product.ProductService">
 		<constructor-arg name="dao" ref="pdao"/>
 	</bean>
 	
</beans>