<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Cart Tables</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%"
				cellspacing="0">
				<thead>
					<tr>
						<th>ID</th>
						<th>UID</th>
						<th>PID</th>
						<th>PRODUCT NAME</th>
						<th>PRODUCT PRICE</th>
						<th>CATEGORY</th>	
						<th>REGDATE</th>	
						<th>COUNT</th>						
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>ID</th>
						<th>UID</th>
						<th>PID</th>
						<th>CATEGORY</th>	
						<th>REGDATE</th>	
						<th>COUNT</th>	
					</tr>
				</tfoot>
				<tbody>
					<tr th:each="c : ${clist}">
						<!-- /cust/detail?id=id01 -->
						<td th:text="${c.id}">id01</td>
						<td th:text="${c.uid}">pwd01</td>
						<td th:text="${c.pid}">Edinburgh</td>
						<td th:text="${c.cate}">Edinburgh</td>
						<td th:text="${#dates.format(c.regdate,'yyyy/MM/dd')}">2011/04/25</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>