<script>
$(document).ready(function(){
	$('#updatebtn').click(function(){
		$('.user').attr({
			'method':'post',
			'action':'update' 
		});
		$('.user').submit();
	});
});

</script>


  <div class="col-lg-6">
      <div class="p-5">
          <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Category Information</h1>
          </div>
          <form class="user">
              <div class="form-group">
                  <input type="text" class="form-control form-control-item"
                      name="id" value="id01" th:value="${c.id}" >
              </div>
              <div class="form-group">
                  <input type="text" class="form-control form-control-item"
                      name="name" value="pwd01" th:value="${c.name}">
              </div>
              <div class="form-group">
                  <input type="text" class="form-control form-control-item"
                      name="pid" value="james" th:value="${c.pid}">
              </div>
            
              <a id="updatebtn" href="#" class="btn btn-primary btn-user btn-block">
                  UPDATE
              </a>
             
          </form>
         
      </div>
  </div>
